<%- include('includes/header') %>

    <input id="close-menu" class="close-menu" type="checkbox" aria-label="close menu" role="button">
    <label class="close-menu-label" for="close-menu" title="close menu"></label>

    <aside class="menu white-bg">

        <div class="main-content menu-content">
            <h1 onclick="getElementById('close-menu').checked = false;">
            </h1>
            <nav>
                <ul onclick="getElementById('close-menu').checked = false;">
                    <li><a href="/">Home</a></li>
                    <li><a href="/products">Produtos</a></li>
                    <li><a href="/promocao">Promoções</a></li>

                    <% if(user) { %>
                        <li><a href="/product/index">Admin</a></li>

                        <% } %>

                </ul>
            </nav>
        </div>
    </aside>

    <div class="menu-spacing"></div>

    <div class="white-bar"></div>

    <section class="products-banner section intro-content">
        <div class="banner-bg">
            <img src="/assets/img/background/products-bg.png" alt="">
        </div>

    </section>

    <section class="intro view-port section">
        <div class="intro-product-texto">
            <h2>Confira nossa seção de promoções</h2>
            <p>Feitos com fio 100% algodão; enchimento com fibra siliconada antialérgica e olhos com travas de
                segurança. Podem ser personalizados!</p>
        </div>

        <div class="products-grid section intro-content">



            <% products.forEach(product=> { %>

                <% if(product.salePrice && product.specialSection !=='on' ) { %>

                    <div class="gallery-img">
                        <a id="details" href="/productDetails/<%= product._id %>"><img
                                src="/public/uploads/pictures/<%= product.img %>" alt=""></a>

                        <h4>
                            <%= product.name %>
                        </h4>
                        <p>
                            <br>De: R$ <s>
                                <%= product.price%>,00
                            </s>

                            <br>Por: R$ <%= product.salePrice %>,00
                                <br>
                                <%= product.availability %>
                                    <br>

                        </p>
                    </div>
                    <% } %>
                        <% }) %>



        </div>


    </section>

    <a class="whatsapp-contact" href="https://api.whatsapp.com/send?phone=5547997078204"></a>

    <a class="back-to-top" href="#">Voltar ao topo</a>

    <%- include('includes/footer') %>